@charset "utf-8";
/* CSS Document */
.form-login {max-width: 330px; margin:0 auto;background:rgba(255, 255, 255,0.2);border-radius: 5px; -webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	background:rgba(28,74,90, 0.9);
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}
.login-wrap {
	padding: 20px;
}
.login-wrap .registration {
	text-align: center;
}
.login-social-link {
	display: block;
	margin-top: 20px;
	margin-bottom: 15px;
}


.rr{background-color:rgba(28,74,90, 0.9);; color:white;}
.modal-header{background-color:#ED502E; color:#fff;}


